In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from seaborn import *
import numpy as np

#from statsmodels.formula.api import *

from nltk.probability import FreqDist

iris = pd.read_csv('iris.csv')

iris.head(8)# Mostrar apenas a quantidade de linhas informadas (Quando informado)

   length  width       classe
0     5.1    3.5  Iris-setosa
1     4.9    3.0  Iris-setosa
2     4.7    3.2  Iris-setosa
3     4.6    3.1  Iris-setosa
4     5.0    3.6  Iris-setosa
5     5.4    3.9  Iris-setosa
6     4.6    3.4  Iris-setosa
7     5.0    3.4  Iris-setosa

## Lista completa ordenada pela ocorrencia dos dados

In [5]:
from collections import Counter

lista = iris['width']
print(lista)
#print(Counter(lista).most_common(len(lista)))

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
9      3.1
10     3.7
11     3.4
12     3.0
13     3.0
14     4.0
15     4.4
16     3.9
17     3.5
18     3.8
19     3.8
20     3.4
21     3.7
22     3.6
23     3.3
24     3.4
25     3.0
26     3.4
27     3.5
28     3.4
29     3.2
      ...
120    3.2
121    2.8
122    2.8
123    2.7
124    3.3
125    3.2
126    2.8
127    3.0
128    2.8
129    3.0
130    2.8
131    3.8
132    2.8
133    2.8
134    2.6
135    3.0
136    3.4
137    3.1
138    3.0
139    3.1
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: width, Length: 150, dtype: float64

# Tipos de amostra

## Inteiramente Aleat√≥ria

In [4]:
import random

aleatoria = []
QUANTIDADE = 40

numeros_aleatorios = random.sample(range(1,150), QUANTIDADE)

for i in numeros_aleatorios:
    aleatoria.append(lista[i])

print(aleatoria)
#print(Counter(amostragem).most_common(len(amostragem))) # Retorna os termos mais frequentes

[3.2, 3.0, 3.5, 3.2, 3.5, 2.8, 3.0, 3.4, 3.0, 3.2, 2.5, 2.2, 2.5, 3.0, 2.6, 3.0, 3.8, 3.1, 3.0, 2.7, 3.8, 2.9, 3.1, 2.9, 2.8, 3.1, 3.5, 3.8, 3.4, 3.0, 3.2, 2.8, 2.9, 2.9, 3.7, 3.3, 3.2, 2.8, 2.8, 3.5]

## Sistematica

In [20]:
import random

sistematica = []
QNT_AMOSTRA = 10

# Sorteando o ponto de partida da amostragem de acordo com a quantidade de amostra desejada
inicio_aleatorio = random.randint(1, QNT_AMOSTRA)

sistematica = lista[inicio_aleatorio::QNT_AMOSTRA]
print(sistematica)
    #sistematica.append(lista[0::QNT_AMOSTRA])

#print(sistematica)

3      3.1
13     3.0
23     3.3
33     4.2
43     3.5
53     2.3
63     2.9
73     2.8
83     2.7
93     2.3
103    2.9
113    2.5
123    2.7
133    2.8
143    3.2
Name: width, dtype: float64

## Estratificado